build/
cmake-build-*/
.vs/
.vscode/
*.user
*.suo
*.sdf
*.opensdf
*.db
*.ipch
*.obj
*.o
*.pdb
*.ilk
*.exe
*.dll
*.vst3
*.component
*.app
Thumbs.db
.DS_Store
JUCE/
dist/
node_modules/
MCEServer/node_modules/
MCEServer/mce.log
.build_compile.log
.build_compile.err
